{% extends "management/layout.html" %}

{% block body %}

    <h2 class="mheading">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="formcontainer" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div >Set a profile picture!</div>
            <input class="form-control" type="file" name="profile_image" accept="image/*" required>
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
    <div class="message">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>

{% endblock %}